[submodule "3rd-party/mCRL2"]
	path = 3rd-party/mCRL2
	url = https://github.com/mCRL2org/mCRL2.git
[submodule "3rd-party/mCRL2-old"]
	path = 3rd-party/mCRL2-old
	url = https://github.com/mlaveaux/mCRL2.git
[submodule "3rd-party/boost-include-only"]
	path = 3rd-party/boost-include-only
	url = https://github.com/mlaveaux/boost-include-only.git
